/* CSS */
body{
   font-family: Algerian;
}
.vertical-menu {
  width: 170px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 10px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: 	#4682B4; /* Add a green color to the "active/current" link */
  color: white;
}
p.three {font-family:courier, courier new, serif;}
